<h1>Employee Award Recognition</h1>

<div>
	<h2>Login</h2>
	<form class="login" action="/user/login" method="POST" class="login-form" style="display: block;">
		<input name="email" type="email" class="text-input" placeholder="Email">
		<input name="password" type="password" class="text-input" placeholder="Password">
        <select name = "type" required>
            <option value="" selected>Select a user type</option>
            <option value="regular">Regular</option>
            <option value="admin">Admin</option>
        </select>
		<input class="login-submit" type="submit">
	</form> 
</div>


<div>
	<h2>Register</h2>
    <form class="register" action="/user/register" method="POST" class="signup-form" style="display: block;">
      <input name="name" type="text" class="text-input" placeholder="first &amp; last name">
      <input name="email" type="email" class="text-input" placeholder="email">
      <input name="password" type="password" class="text-input" placeholder="password">
      <input name="passwordConfirmation" type="password" class="text-input" placeholder="password confirmation">
      <input class="sign-up-submit" type="submit">
      <input name="type" value="regular" hidden>
    </form>
</div>

