<h1>Login</h1>

<div>
	<form class="login" action="/user/login" method="POST" class="login-form" style="display: block;">
		<input name="email" type="email" class="text-input" placeholder="email">
		<input name="password" type="password" class="text-input" placeholder="password">
		<input class="login-submit" type="submit">
	</form>
</div>

