<img class="bg-img" src="/images/building.jpg">
  <div class="container-fluid"> 
    <div class="row" style="height:125px">
      <div class="col align-self-center">
        <h1 class="display-3 text-center text-white">Certificate Generator</h1><br>
      </div> 
    </div>
    <div class="row align-items-center"> 
      <div class="col-1"></div>
      <div class="col-4">
        <h1 class="display-5 text-center text-white font-weight-light">Make your own personalized certificates!</h1>   
        <hr>
        <p class="text-white p-large text-center">Our site allows you to create personalized certificates for the people you care about. All you have to do is select a design, enter the relevant certificate information along with the email of the recipient, and then our site will automatically generate a personalized certificate and send it to the email you provided. Login or sign up now to get started!</p>
      </div>
      <div class="col-1"></div>
      <div class="col-5 align-self-center register-page">
        <br>
        <h2 class="text-white">Register</h2>
        <form action="/user/register" method="POST" enctype="multipart/form-data" class="register-form" style="display: block;">
          <div class="form-group">
            <label for="name" class="text-white">Full Name:</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="First & Last Name" required>
          </div>
          <div class="form-group">
            <label for="email" class="text-white">Email:</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="Enter email" required> 
          </div>
          <div class="form-group">
            <label for="password" class="text-white">Password:</label> 
	        <input name="password" type="password" class="form-control" id="passwrd" placeholder="Enter password" required> 
          </div>
          <div class="form-group">
            <label for="passwordConfirmation" class="text-white">Confirm Password:</label> 
	        <input name="passwordConfirmation" type="password" class="form-control" id="passwordConfirmation" placeholder="Confirm password" required> 
          </div>
		  <div class="form-group">
			<label for="imgUploader" class="text-white">Signature Upload (.png files < 5 KB only):</label> 
			<input type="file" name="imgUploader" id="imgUploader" class="form-control" required/>
		  </div>
          <div class="form-group">
            <input class="btn btn-primary form-control" name="action" type="submit" value="Create Account">
          </div> 
          <input name="type" value="regular" hidden>
        </form> 
		{{#if error}}
		<h5>{{error}}</h5>
		{{else}}
		{{/if}}		
        <br> 
      </div> 
      <div class="col-1"></div>
    </div>
  </div>
</img>
