<div class="container-fluid"> 
  <div class="row" style="height:150px">
    <div class="col align-self-center">
      <h1 class="display-4 text-center">Employee Award Recognition</h1><br>
    </div> 
  </div>
  <div class="row" style="height:80%;"> 
    <div class="col-6 align-self-center"> 
      <img class="img-thumbnail" src="/images/frontpage2.jpg" alt="Front Page" style="height:auto; width:100%"></img>  
    </div>
    <div class="col-6 align-self-center">
      <h2>Register</h2><br>
      <form action="/user/register" method="POST" class="register-form" style="display: block;">
        <div class="form-group">
          <label for="name">Full Name:</label>
          <input name="name" type="text" class="form-control" id="name" placeholder="First & Last Name">
        <div class="form-group">
          <label for="email">Email:</label>
          <input name="email" type="email" class="form-control" id="email" placeholder="Enter email"> 
        </div>
        <div class="form-group">
          <label for="password">Password:</label> 
	      <input name="password" type="password" class="form-control" id="passwrd" placeholder="Enter password"> 
        </div>
        <div class="form-group">
          <label for="passwordConfirmation">Password:</label> 
	      <input name="passwordConfirmation" type="password" class="form-control" id="passwordConfirmation" placeholder="Confirm password"> 
        </div>
        <div class="form-group">
          <input class="btn btn-primary form-control" type="submit">
        </div> 
        <input name="type" value="regular" hidden>
        <h5>That email is already taken. Please try again.</h5>
      </form> 
    </div>
  </div>
</div>
